@model IEnumerable<Flightbookingapi.Models.Flight>

@{
    Layout="/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Login";
}

@{
    ViewData["Title"] = "GetAllFlights";
}
<style>
    body{
        background-color: aliceblue;
        
        background-image: url("Images/one.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        font-family: sans-serif;
    }
    h1,p{
        font-family: sans-serif;
    }
    table{
        width: 100%;
        border: skyblue 2px solid;
    }
</style>
<h1 style= " text-align: center;">Available Flights</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Source)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dtime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Atime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Source)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dtime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Atime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Fid}) |
                @* @Html.ActionLink("Details", "Details", new { id=item.Fid }) | *@
                @Html.ActionLink("Delete", "Delete", new { id=item.Fid})
            </td>
        </tr>
}
    </tbody>
</table>
