@model Flightbookingapi.Models.Book

@{
    Layout="/Views/Shared/_CustomerLayout.cshtml";
    ViewData["Title"] = "bookdet";
}
<style>
    body{
        background-color: aliceblue;
        text-align: center;
    }
</style>
<h1>booking details</h1>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="row" >
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nop)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nop)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
    </dl>
</div>
<div>
    @* @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) | *@
    <a asp-action="GetAllBookings">go to Bookings</a>
</div>
